#parse("macro.vm")

package com.generate.action;
import com.vel.noparse.${classNameUpCase};
import java.util.List;
import com.generate.dao.${classNameUpCase}Dao;

public class ${classNameUpCase}Action{
	public ${classNameUpCase}Dao ${classNameLowCase}Dao;
	private List<${classNameUpCase}> ${classNameLowCase}s;
	private ${classNameUpCase} ${classNameLowCase};
#foreach ($attr in ${attrs})
	private ${attr[0]} ${attr[1]};
#end
	public String ${classNameLowCase}List() {
		${classNameLowCase}s = ${classNameLowCase}Dao.retrieveAll${classNameUpCase}s();
		return "${classNameLowCase}List.jsp";
	}
	
	public String to${classNameUpCase}Modify() {
		${classNameLowCase} = ${classNameLowCase}Dao.retrieveById(id);
		return "${classNameLowCase}Modify.jsp";
	}
	public void ${classNameLowCase}Modify() {
		${classNameLowCase} = new ${classNameUpCase}(#generateParam(${attrs}));
		${classNameLowCase}Dao.update(${classNameLowCase});
	}
	
	public String to${classNameUpCase}Add() {
		return "${classNameLowCase}Add.jsp";
	}
	public void ${classNameLowCase}Add() {
		${classNameLowCase} = new ${classNameUpCase}(#generateParam(${attrs}));
		${classNameLowCase}Dao.add(${classNameLowCase});
	}
	public void ${classNameLowCase}Delete() {
		${classNameLowCase}Dao.delete(id);
	}
	
	public List<${classNameUpCase}> get${classNameUpCase}s() {
		return ${classNameLowCase}s;
	}
	public void set${classNameUpCase}s(List<${classNameUpCase}> ${classNameLowCase}s) {
		this.${classNameLowCase}s = ${classNameLowCase}s;
	}
	
	public ${classNameUpCase} get${classNameUpCase}() {
		return ${classNameLowCase};
	}

	public void set${classNameUpCase}(${classNameUpCase} ${classNameLowCase}) {
		this.${classNameLowCase} = ${classNameLowCase};
	}

#foreach ($attr in ${attrs})
	#set($attrName = ${attr[1]})
	#set($AttrName = "#toUpperCase($attrName)")
	public ${attr[0]} get${AttrName}() {
		return ${attr[1]};
	}
	public void set${AttrName}(${attr[0]} ${attr[1]}) {
		this.${attr[1]} = ${attr[1]};
	}
#end

}
